<!-- <div class="page-wrapper">
    <app-bedroomcategory></app-bedroomcategory>

    <div class="page-container">
       
        <br><br> -->
        <div class="mainpage">
        <app-bedroomcategory></app-bedroomcategory>
        <app-search></app-search>
        <div class="container">
            <div class="row">
                <ng-container *ngFor="let e of bedroom">
                    <div class="card col-md-3">
                    
                        <img src="{{e.imageurl}}" width="400px" height="200px" alt="assets\Furniture BackGround Image.jpg">
                        <h5 style="white-space:nowrap;overflow:hidden;text-overflow:ellipsis;max-width:100ch">{{e.name}}</h5>
                        <p style="white-space:nowrap;overflow:hidden;text-overflow:ellipsis;max-width:100ch">{{e.description}}</p>
                        <p><strong>Price:</strong>{{e.price |currency:'INR'}}</p>
                        <button  id="update" class="my-button" (click)="updateProduct(e.id)">Update</button>
                        <button  id="delete" class="my-button"  (click)="deleteProduct(e.id)">Delete</button>
                    </div>
                   
                </ng-container>
            </div>
        </div>
    </div>
    <!-- </div></div> -->






























<!-- <div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <div class="row">
                <div class="row row-cols-auto">
                <table class="table table-bordered">

                <thead>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Image</th>
                    <th>price</th>  
                    <th>Action</th>
                </thead>

                
                <tr *ngFor="let e of bedroom">
                    <td>{{e.name}}</td>
                    <td>{{e.description}}</td>
                    <td>
                        <img src="{{e.imageurl}}" alt="assets\bathroom\bathroom-7.jpg" width="150px" height="100px">
                    </td>
                    <td>{{e.price | currency:'INR'}}</td>
                    <td>
                        &nbsp;&nbsp;
                        <button  type="submit" id="update"  (click)="updateProduct(e.id)">Update</button>
                        &nbsp;&nbsp;
                        <button type="submit" id="Delete"  (click)="deleteProduct(e.id)">Delete</button>
                    </td>
                                 
                </tr>
             </table>
            </div>
            </div>
        </div>
                    </div>
                </div>
            </div>
        </div>
     -->